<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%-include('nav') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mt-5">
                <div class="d-flex justify-content-center mt-5">
                    <img src="/img/user1.png" class="user" alt="">
                    <img src="/img/user2.jpeg" class="user" alt="">
                    <img src="/img/user3.png" class="user" alt="">
                    <img src="/img/user4.jpg" class="user" alt="">
                    <img src="/img/user5.jpeg" class="user" alt="">
                    <img src="/img/user6.jpeg" class="user" alt="">
                </div>
                <p class="mt-1 mb-0 small text-muted">Manage Users on the go</p>
                <h1 class="fw-bold display=4 mt-2">Manage all your users in one place</h1>
                <p>"Streamline your studies with our intuitive platform. Organize, plan, and excel in academics effortlessly. Elevate your learning experience today!"</p>
                <a href="/add" class="cta-btn">Start Adding Users</a>
            </div>
        </div>
    </div>
</body>
</html>